.title_desc {
  margin-top: 0px;
  text-align: left;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 50px;
  padding-left: 600px;
  padding-right: 600px;
  text-justify: auto;
  margin-bottom: 20px;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_desc > ul.title_1 {
  margin-top: 40px;
  display: block;
  list-style: none;
  padding-left: 0px;
}

.title_2 {
  font-size: large;
  font-weight: bold;
  padding-bottom: 8px;
}

.title_desc > ul.title_1 > li {
  padding-left: 10px;
  border-left: 3px solid #21c0c0;
  margin-top: 45px;
}

.button {
  text-align: center;
}

/* .title_desc > ul.desc {
    margin-top: 10px;
    list-style: none;  
} */

.ck-editor__editable {
  min-height: 500px;
}
